
<div class="row center-text">
<!-- :html => {:class => 'custom'} -->
  <%= form_for @referral do |f| %>
  	<div class="small-6 small-centered columns ">
    	<div class="new_fer_form"> 
      Which show did you watch?? 
      <%= f.text_field :user_input %>
      How did the show make you feel?<br /><br />
        Happy!       
        <div > 
          <%= f.check_box :is_happy %><br />	
        </div>
        Shocking!	
        <div > 
          <%= f.check_box :is_shock %><br />
        </div> 
        <!-- Awesome! -->	
      <!--   <div>
      		<%#= f.check_box :is_awesome %><br />
        </div>  -->
        Heart Touching    
        <div > 
          <%= f.check_box :is_emo %><br />
        </div>
        Hated it because it was SO GOOD   
        <div > 
          <%= f.check_box :is_hate %><br />
        </div>     
      </div>
      <br />
      <%= f.submit 'Create Fer', :class => 'button radius success' %>
    </div>
  <% end %>
</div>
