

<br /><br /> 
<h1 class="new_fer">All Fers</h1><br />
<div class="row center-text">

 

  <% @referrals.each do |referral| %>
 <div class="all_fers">
 <hr />
  <p><b>Show watched: <%= referral.user_input %></b></p>
  <p>Happy: <%= referral.is_happy %></p> 
  <p>Shocking! <%= referral.is_shock %></p>
  <p>Heart Touching: <%= referral.is_emo %></p>
  <!-- <p>Awesome! <%= referral.is_awesome %></p> -->
  <p>Hated it because it was SO GOOD! <%= referral.is_hate %></p><br />
  
  	 
   </div>
   <% end %>
 
  </div>