<br />
<h1 class="new_fer">Create Your Fer!</h1>

<br />
<div class="row center-text">
  <!-- :html => {:class => 'custom'} -->
  <div class="small-6 small-centered columns ">
    <div class="show_show">
      <p><b>Show:</b>
        <%= @referral.user_input%>

        <% if @referral.is_happy and @referral.is_shock and @referral.is_emo and @referral.is_hate %>
            <%= render partial: 'image1' %>

        <% elsif @referral.is_happy and @referral.is_shock and @referral.is_emo %>
            <%= render partial: 'image2' %>

        <% elsif @referral.is_happy and @referral.is_shock and @referral.is_hate %>
            <%= render partial: 'image3' %>

        <% elsif @referral.is_shock and @referral.is_emo %>
            <%= render partial: 'image4' %>

        <% elsif @referral.is_shock and @referral.is_emo and @referral.is_hate %>
            <%= render partial: 'image5' %>

        <% elsif @referral.is_emo and @referral.is_hate %>
            <%= render partial: 'image6' %>

        <% elsif @referral.is_happy and @referral.is_shock %>
            <%= render partial: 'image7' %>

        <% elsif @referral.is_happy and @referral.is_emo %>
            <%= render partial: 'image8' %>

        <% elsif @referral.is_happy and @referral.is_hate %>
            <%= render partial: 'image9' %>

        <% elsif @referral.is_happy %>
            <%= render partial: 'image10' %>

        <% elsif @referral.is_shock %>
            <%= render partial: 'image11' %>

        <% elsif @referral.is_emo %>
            <%= render partial: 'image12' %>

        <% elsif @referral.is_hate %>
            <%= render partial: 'image13' %>

        <% else %>
            <%= flash[:error] = "Your Fer cannot be saved. Please choose emotions." %>

        <% end %>



        <%= button_to 'Post Tweet', turd_path %>
      </p>
    </div>
  </div>
</div>